{% load static %}

<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <!-- Other head elements -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <title>Traffic Volume Detection Using Wireless Sensor Network</title>
</head>
<body>
    <div class="flex flex-col bg-blue-500 text-white py-5 justify-center items-center"
         style="background: url('https://www.digi.com/getattachment/applications/traffic-management/background.jpg');"
         >
        <div class="flex w-full mt-10 bg-blue-400 opacity-30 py-3 justify-center">
            <h1 class="text-4xl text-white">
                Traffic Volume Detection Using Wireless Sensor Network
            </h1>
        </div>        
    </div>

    <div class="flex flex-col container border-0 justify-center items-center py-10">
            <div class="flex flex-col w-3/4 border-b">
                    <div class="flex flex-row justify-between">
                            <div>
                                    <h1 class="text-2xl">Locations</h1>
                            </div>
                            <div>
                                   <a class='font-semibold underline text-blue-600' href="home">Home</a> | 
                                   <a class='font-semibold underline text-blue-600' href="create_location">Create Location</a>
                            </div>                         
                    </div>

            </div>

            <!-- content -->
            
            <div class="border w-3/4 mt-3">
                <table width="80%" cellpadding="10px">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="w-[15%] border">SN</th>
                            <th class="text-left">Name of Location</th>
                            <th class="text-left">Date Created</th>
                            <th class="text-left">Actions</th>
                        </tr>                    
                    </thead>
                    <tbody> 
                        {% for location in locations reversed %}
                            <tr class="border-b">    
                                <td class="text-center">{{ forloop.counter }}.</td>
                                <td>{{location.name}}</td>
                                <td>{{ location.date|date:"F d, Y" }}</td>
                                <td>
                                    <div class="text-sm">
                                            <span class="mr-4">
                                                <a class="underline" href='location/edit/{{ location.id }}'>Edit</a>
                                            </span>
                                            <span>
                                                <a class='underline' href='location/delete/{{ location.id }}'>Delete</a>
                                            </span>
                                    </div>
                                </td>
                            </tr>    
                        
                        {%  endfor  %}
    
                    </tbody>
                    
                </table>
                 
            </div>

            <!-- end of content -->

            
    </div>

    
    
</body>
</html>