{% load static %}

<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- Other head elements -->
    
    <title>Traffic Volume Detection Using Wireless Sensor Network</title>
    <!-- Other head elements -->
    <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            laravel: "#ef3b2d",
                        },
                    },
                },
            };
    </script>
</head>
<body>
    <div class="flex flex-col bg-blue-500 text-white py-5 justify-center items-center"
         style="background: url('https://www.digi.com/getattachment/applications/traffic-management/background.jpg');"
         >
        <div class="flex w-full mt-10 bg-blue-400 opacity-30 py-3 justify-center">
            <h1 class="text-4xl text-white">
                Traffic Volume Detection Using Wireless Sensor Network
            </h1>
        </div>        
    </div>

    <div class="flex container border-0 justify-center py-10">
            <div class="flex flex-col w-3/4">
                    <div class="flex flex-row justify-between border-b py-3">
                            <div>
                                    <h1 class="text-2xl">Edit Node</h1>
                            </div>
                            <div>
                                   <a class='font-semibold underline text-blue-600' href="{% url 'home' %}">Home</a> | 
                                   <a class='font-semibold underline text-blue-600' href="{% url 'nodes' %}">Nodes</a>
                            </div>                         
                    </div>

                    <div class="flex flex-col border-0 mt-5">
                            {% for message in messages %}
                                <div class="py-1 text-red-500 font-semibold">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <form method="POST" action="{% url 'node_update' %}" class="w-[40%]">
                                {% csrf_token %}

                                <div class="flex flex-col">
                                    <label
                                        for="node_name" class="py-1 text-sm">
                                       Name
                                    </label>
                                    <input type="text" name="node_name" class="border rounded 
                                                                                   border-gray-400 py-3 px-3"
                                                                                   value = "{{ node.name }}"
                                                                                   required />
                                    <input type="hidden" name="node_id" value="{{ node.id }}" />
                                </div>

                                <div class="flex flex-col mt-4">
                                    <label
                                        for="cluster_id" class="py-1 text-sm">
                                       Cluster
                                    </label>
                                    <select name="cluster_id" class="border rounded 
                                                                                   border-gray-400 py-3 px-3" required>
                                            <option value="">-- Select Cluster --</option>
                                            {% for cluster in clusters %}                                                
                                                    <option value="{{ cluster.id }}" {% if cluster == node.cluster %}selected{% endif %} >{{ cluster.name }}</option>                                             
                                                
                                            {% endfor  %}
                                    
                                    </select>
                                </div>


                                <div class="flex flex-col mt-5">
                                    <label
                                        for="battery" class="py-1 text-sm">
                                       Battery
                                    </label>
                                    <input type="number" class="border rounded border-gray-400 py-3 px-3" 
                                           name="battery" value="{{ node.battery }}" min="5" max="100" step="1"  />
                                    
                                </div>


                                <div class="flex flex mt-5 gap-2 items-center">
                                    <div class="border flex-1 py-3 px-4 rounded-lg border-gray-400">
                                        <label
                                            for="fault" class="py-1 text-sm">
                                            Fault Status
                                        </label>
                                        <input type="checkbox" name="fault" class="ml-3 h-4 w-4 border" {% if node.fault %}checked{% endif %}  />
                                    </div>                            
                                    
                                </div>


                                <div class="flex justify-end mt-2">
                                    <button class="bg-blue-500 bg-rounded py-2 px-3 rounded-lg text-white mt-1">
                                        Update
                                   </button>
                                </div>
                                
                               

                            </form>
                    </div>

            </div>
    </div>

    
    
</body>
</html>