{% load static %}

<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <!-- Other head elements -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <title>Traffic Volume Detection Using Wireless Sensor Network</title>
</head>
<body>
    <div class="flex flex-col bg-blue-500 text-white py-5 justify-center items-center"
         style="background: url('https://www.digi.com/getattachment/applications/traffic-management/background.jpg');"
         >
        <div class="flex w-full mt-10 bg-blue-400 opacity-30 py-3 justify-center">
            <h1 class="text-4xl text-white">
                Traffic Volume Detection Using Wireless Sensor Network
            </h1>
        </div>        
    </div>

    <div class="flex flex-col container border-0 justify-center items-center py-10">
            <div class="flex flex-col w-3/4 border-b">
                    <div class="flex flex-row justify-between">
                            <div>
                                    <h1 class="text-2xl">Recharge Nodes</h1>
                            </div>
                            <div>
                                   <a class='font-semibold underline text-blue-600' href="home">Home</a> | 
                                   <a class='font-semibold underline text-blue-600' href="create_node">Create Node</a>

                            </div>                         
                    </div>

            </div>

            <!-- content -->
            <div class="flex w-3/4 mt-5 mb-5 ">
                <a href="recharge_allnodes" class="flex border rounded-full px-4 py-4 bg-blue-400 text-white font-semibold ">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-yellow-200">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                      </svg>
                      Initiate Node Battery Recharge
                </a>
            </div>
            <div class="border w-3/4 mt-3">
               
                <table width="100%" cellpadding="10px">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="text-left border-0 border-blue-800" width="7%">SN</th>
                            <th class="text-left border-0 border-blue-800" width="20%">Node</th>
                            <th class="text-left border-0 border-blue-800" width="15%">Cluster</th>
                            <th class="text-left border-0 border-blue-800" width="10%">Battery</th>
                            <th class="text-left border-0 border-blue-800" width="10%">Fault</th>
                            <th class="text-left border-0 border-blue-800" width="10%">Headship</th>
                            <th class="text-left border-0 border-blue-800" width="15%">Date Created</th>
                            <th class="text-left border-0 border-blue-800" width="30%" >Actions</th>
                        </tr>                    
                    </thead>
                    <tbody> 
                        {% for node in nodes reversed %}
                            <tr class="border-b">    
                                <td class="text-center">{{ forloop.counter }}.</td>
                                <td>{{ node.name }}</td>
                                <td>{{ node.cluster.name }}</td>
                                <td>{{ node.battery }}%</td>
                                <td>
                                    {% if node.fault %}                                    
                                        <div class="border w-4 h-4 rounded-full bg-red-500"></div>
                                    {% else %}
                                        <div class="border w-4 h-4 rounded-full bg-green-500"></div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if node.headship %}
                                        <div>
                                            <svg class='w-6 h-6' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                                            </svg>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{node.date|date:"F d, Y" }}</td>
                                <td>
                                    <div class="text-sm">
                                            
                                            <span class="mr-4">
                                                <a class="rounded-full border border-1 px-3 py-1 bg-blue-200 hover:bg-yellow-300" href='node/recharge/{{ node.id }}'>Recharge </a>
                                            </span>
                                           
                                    </div>
                                </td>
                            </tr>    
                        
                        {%  endfor  %}
    
                    </tbody>
                    
                </table>
                 
            </div>

            <!-- end of content -->

            
    </div>

    
    
</body>
</html>